<h2>Rent a Cat!</h2>


<form action= '<%= cat_rental_requests_url %>' method='POST'>

  <label for='cats'>Which cat would you like to rent?</label>

  <select name='cat_rental_request[cat_id]'>
    <option value='' disabled selected >--Select cat!</option>
    <% @cats.each do |cat| %>
      <option value= <%= cat.id %> > <%= cat.name %> </option>
    <% end %>
  </select>
  <br>

  <label for='start_date'>Start Date</label>
  <input id='start_date' type='date' name='cat_rental_request[start_date]'>
  <br>

  <label for='end_date'>End Date</label>
  <input id='end_date' type='date' name='cat_rental_request[end_date]'>
  <br>

  <input type='submit' value='Submit request!'>

</form>
